:root {
  --first-color: #455163;
  --second-color: #464c55;
  --third-color: #261bbb;
  --fourth-color: #eeeeee;
}

.App h1 {
  color: var(--third-color);
  font-weight: 600;
}

.App {
  text-align: center;
  margin-top: 20px;
}

footer {
  margin-top: 10px;
}
