:root {
  --first-color: #222831;
  --second-color: #393e46;
  --third-color: #0092ca;
  --fourth-color: #eeeeee;
}

.App h1 {
  color: var(--third-color);
  font-weight: 600;
}

.App {
  text-align: center;
  margin-top: 20px;
}

footer {
  margin-top: 10px;
}
