.WeatherForecast {
  margin-top: 20px;
  background-color: var(--second-color);
  border-radius: 4px;
  padding: 10px;
}

.WeatherForecast .min-temperature {
  opacity: 0.5;
}

.WeatherForecast img {
  width: 60px;
}

@media (max-width: 500px) {
  .WeatherForecastDay {
    margin: 10px 0 10px;
  }
}
